/* VehicleList.css */

.vehicle-list-container {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.vehicle-list-heading {
  text-align: center;
  margin-bottom: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vehicle-image {
  max-height: 200px;
  padding-top: 10px;
  margin: 0 auto;
}

.vehicle-info {
  margin-top: 10px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
